body {
    font-family: "Montserrat","Inter", sans-serif;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    color: currentColor;
    padding: 0;
}

input, select {
    outline: none;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.label-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #4D4D4D;
}



/* new */

.input-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 24px;
}
/* button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
} */
/* html */


.label-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.input-name-human {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    text-align: center;
    color: #4D4D4D;
    background-color: #fff;
    border: 1px solid rgb(67, 65, 66);
    border-radius: 55px;
    padding: 6px 35px;
}



.button-all {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #EE6700;
    border-radius: 60px;
    padding: 14px 17px;
    color: #fff;
    outline: none;
    border: none;
    transition: background-color 250ms ease-in-out;
}

.buttons-container {
        display: flex;
        bottom: 10px;
        left: 10px;
        /* right: 20px; */ 
        position: absolute;
        /* margin-bottom: 42px;
        margin-right: 64px; */
        gap: 85px;
        flex-direction: row-reverse;
}

.button-save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-save-form {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    background-color: #ee6700;
    border-radius: 60px;
    padding: 5px 40px;
    color: #fff;
    outline: none;
    border: none;
    transition: background-color 250ms ease-in-out;
}

.button-add-human {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #EE6700;
    border-radius: 60px;
    padding: 14px 17px;
    color: #fff;
    outline: none;
    border: none;
    transition: background-color 250ms ease-in-out;
}

.button-send-form {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #ee6700;
    border-radius: 60px;
    padding: 14px 17px;
    color: #fff;
    outline: none;
    border: none;
    transition: background-color 250ms ease-in-out;
}



.button-save-form:hover,
.button-add-human:hover,
.button-send-form:hover,
.button-all:hover {
    background-color: #BC5100;
}

.button-save-form:focus,
.button-add-human:focus,
.button-send-form:focus,
.button-all:focus {
    background-color: #BC5100;
}

.button-save-form:active,
.button-add-human:active,
.button-send-form:active,
.button-all:active {
    background-color: #EE6700;
    transition: none;   
}

.name-restaurant {
    margin-left: 24px;
    margin-top: 13px;
    margin-bottom: 14px;
}

.rest-name-label {
    margin-left: 13px;
    font-size: 12px;
}

.rest-name-input-container {
    width: 245px;
    margin-top: 7px;
    
}

.rest-name-input {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 13px;
    color: #4D4D4D;
    width: 100%;
    font-size: 12px;
    border: 4px solid rgb(217, 217, 217);
    border-radius: 23px;
    background-color: #fff;
}

.select-info {
    -webkit-appearance: none;
    background: url(../Vectors/arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: #4D4D4D;
    text-align: left;
    padding: 6px 25px;
    border: 1px solid rgb(67, 65, 66);
    border-radius: 55px;
}

.window-info {
    background-color: #DCDCDC;
    padding: 10px 14px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(67, 65, 66);
    border-radius: 23px;

}

.product-list {
    -webkit-appearance: none;
    background: #fff url(../Vectors/arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #4D4D4D;
    text-align: center;
    padding: 7px 45px;
    border: 1px solid rgb(67, 65, 66);
    border-radius: 55px;
}

.product-list-article {
    -webkit-appearance: none;
    background: #fff url(../Vectors/arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #4D4D4D;
    text-align: center;
    padding: 7px 30px;
    border: 1px solid rgb(67, 65, 66);
    border-radius: 55px;
}

.label-products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.window-container-info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.window-container-info:last-child {
    margin-bottom: 18px;
}

.input-quality-product {
    -webkit-appearance: none;
    background: #fff url(../Vectors/arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #4D4D4D;
    background-color: #fff;
    border: 1px solid rgb(67, 65, 66);
    border-radius: 55px;
    padding: 6px 0;
}



.saved {
    display: none;
}

/* info-block-styles */

.info-container {
    margin-top: 24px;
    width: 100%;
    max-height: 480px;
    /* box-shadow: 0 10px 20px 0 #DCDCDC,
          inset 0 -20px 20px 0 #DCDCDC; */
    overflow-y: auto;
}

.info-block {
    display: block;
    margin-left: 24px;
    margin-right: 14px;
    margin-top: 20px;
}

.info-block-first {
    padding: 6px 13px 7px 15px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #000;
    text-align: center;
    border: 2px solid rgb(67, 65, 66);
    border-radius: 4px;
    /* background: url(../Vectors/edit.svg), url(../Vectors/delete.svg);
    background-position: right;  */
    background-color: rgb(232, 230, 231);
    /* background-repeat: no-repeat;
    background-position-x: 86%, 97%;
    background-size: 24px; */
}

.info-block-second {
    padding: 8px 13px 6px 10px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #414141;
    border: 3px solid rgb(67, 65, 66);
    border-radius: 13px;
    /* background: url(../Vectors/edit.svg), url(../Vectors/delete.svg);
    background-position: right; 
    background-color: rgb(232, 230, 231);
    background-repeat: no-repeat;
    background-position-x: 86%, 97%;
    background-size: 24px; */
}

.info-productSize-cont {
    padding-top: 10px;
}

.button-container {
    padding-top: 11px;
    display: flex;
    gap: 14px;
    justify-content: center;
}

.info-block-button {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #ee6700;
    border-radius: 60px;
    padding: 2px 15px 2px 17px;
    color: #fff;
    outline: none;
    border: none;
    transition: background-color 250ms ease-in-out;
}

.info-block-button:hover {
    background-color: #BC5100;
}

.info-block-button:focus {
    background-color: #BC5100;
}

.info-block-button:active {
    background-color: #EE6700;
    transition: none;   
}






/* info-block-styles */

.hidden {
    display: none;
}


